<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
  <div class="header-mobile__bar">
    <div class="container-fluid">
      <div class="header-mobile-inner">
        <a class="logo" href="/">
            <img src="/images/logo.png" href='/' alt="Strider Bot" length='100px' width='100px'/>
        </a>
        <button class="hamburger hamburger--slider" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <nav class="navbar-mobile">
    <div class="container-fluid">
      <ul class="navbar-mobile__list list-unstyled">
        <li class="has-sub">
        <a href="/"> <i class="fas fa-home"></i>Home</a>
        </li>
        <li class='has-sub'>
          <a href='<%= data.user ? "/logout" : "/dashboard" %>'><i class="fas fa-cogs"></i><%= data.user ? "Logout" : "Dashboard" %></a>
        </li>
            </li>
          </ul>
        </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="/images/logo.png" href='/' alt="Strider Bot" length='100px' width='100px'/>
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
          <a class="js-arrow" href="#">

    
            <li class="has-sub">
              <a href="/"> <i class="fas fa-home"></i>Home</a>
              </li>
              <li class='has-sub'>
                <a href='/settings/<%= data.guildID %>'><i class="fas fa-cogs"></i>Bot Settings</a>
              </li>
              <li class="has-sub">
                <a href='/information/<%= data.guildID %>'><i class="fas fa-user-plus"></i>Information</a>
              </li>
              <li class="has-sub">
                <a href='/logs/<%= data.guildID %>'><i class="fas fa-book"></i>Audit Logs</a>
              </li>
              <li class="has-sub">
                <a href='https://discord.gg/saxSvhR7GP'><i class="fas fa-question"></i>Support</a>
              </li>
              <li>
                <a href='<%= data.user ? "/logout" : "/auth" %>'><i class='fab fa-discord'></i> <%= data.user ? data.user.username : "Not Authenticated" %></a>
              </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->
